---
layout: page
title:  "Featured Projects"
---
{% assign data = site.data.featured-projects %}

<div class="featured-projects">
	<div class="indented-title">
		<h2>Research Projects</h2>
	</div>
	<div class="spotlights">
		{% for project in data.current %}
	    <section>
			<div class="image" style="background-image: url('/assets/images/{{ project.image }}');background-position: 50% 50%;" alt="" data-position="center center"/></div>
			<div class="content">
				<div class="inner">
					<h2>{{ project.name }}</h2>
					<p>{{ project.description }}</p>
				</div>
			</div>
			</section>
		{% endfor %}
	</div>
</div>

<div class="featured-projects">
	<div class="indented-title">
	    <h2>Completed Maker in Residence Projects</h2>
	</div>
	<div class="spotlights">
		{% for project in data.old %}
      <section>
  		<div class="image" style="background-image: url('/assets/images/{{ project.image }}');background-position: 50% 50%;" alt="" data-position="center center"/></div>
  		<div class="content">
  			<div class="inner">
  				<h2>{{ project.name }} <span class="icon fa-check"></span></h2>
  				<p>{{ project.description }}</p>
  			</div>
  		</div>
  		</section>
		{% endfor %}
	</div>
</div>
