{% assign data = site.data.featured-projects.ongoing %}

<section id="makers-in-residence">
	<div class="indented-title">
	    <h2>Ongoing Maker in Residence Projects
			<form class="inline-button-link" method="LINK" action="/projects">
				<input TYPE="submit" value="See more projects" class="tiny-button">
			</form>
			<form class="inline-button-link" method="LINK" action="/mir">
					<input TYPE="submit" value="Learn about the program" class="tiny-button">
				</form>
		</h2>
	</div>
	<div class="spotlights">
		{{ date }}
		{% for project in data %}
      <section>
  		<div class="image" style="background-image: url('/assets/images/{{ project.image }}');background-position: 50% 50%;" alt="" data-position="center center"/></div>
  		<div class="content">
  			<div class="inner">
  				<h2>{{ project.name }}</h2>
  				<p>{{ project.description }}</p>
  			</div>
  		</div>
  		</section>
		{% endfor %}
	</div>
</section>
