body, input, select, textarea {
    color: white;
    font-family: $secondary-font-family;
    font-size: 15px;
}
.pure-u-lg-1-2, .pure-u-lg-12-24, .pure-u-1-3, .pure-u-1, .pure-u-lg-1-3 {
    padding-left: 1em;
    padding-right: 1em;
}
.spotlights > section > .content {
    padding-top: 1em;
}

/* text */
h1.major {
    border: none;
    margin: 0;
    margin-bottom: .5em;
    padding-bottom: 0;
    font-weight: normal;
}
h1.major:after {
    background-image: -moz-linear-gradient(to right, $dark-blue, $makerlab-green);
    background-image: -webkit-linear-gradient(to right, $dark-blue, $makerlab-green);
    background-image: -ms-linear-gradient(to right, $dark-blue, $makerlab-green);
    background-image: linear-gradient(to right, $dark-blue, $makerlab-green);
}
h2 {
    margin-bottom: .2em;
    margin-top: .2em;
}
h2, h3 {
    letter-spacing: .1em;
}
h3 {
    font-size: 1.2em;
    margin: .5em 0 0.2em 0;
}
h4 {
    font-weight: normal;
}
p {
    margin: 0 0 1em 0;
    letter-spacing: normal;
}
@media screen and (max-width: 736px) {
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
}

/* nav */
nav, #header {
    background: $makerlab-green;
    font-family: $secondary-font-family;
    font-size: 1.5em;
    color: $black-45;
    position: fixed;
    z-index: 1000;
    width: 100%;
}
ul {
    padding-left: 1.5em;
}
ul li {
    padding-left: 0em;
}
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: $makerlab-green;
  margin: 0;
}
ul.topnav li {float: left;}
ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1.2em 1.2em 1.2em 1.5em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  border: none;
  text-transform: uppercase;
  font-size: .6em;
  letter-spacing: .1em;
  font-weight: bold;
  color: $white-75;
}
ul.topnav li a:hover {background-color: $teal;}
ul.topnav li.icon {display: none;}
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}
@media screen and (max-width:680px) {
  ul.topnav.responsive {
      position: relative;
  }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
    padding-left: 0px;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
  ul li {
      padding-left: 0em;
  }
}
@media screen and (max-width:400px) {
    ul {
        padding-left: .5em;
    }
    ul.topnav li a {
        padding: 0.7em 1.2em 0.7em 1.2em;
    }
}

/* header */
#intro {
    background-image: none;
    background: $makerlab-green;
    padding-top: 10em;
}
h1, h2, h3, .title {
    font-family: $base-font-family;
}
#makerlab-text {
    width: 100%;
    margin-bottom: 3em;
    font-weight: 500;
}
#makerlab-text h1 {
    border: 15px solid white;
    padding: 0em .2em 0em .2em;
    margin: 0px;
    font-weight: 900;
    font-size: 5em;
    letter-spacing: .1em;
    display: inline;
}
@media screen and (max-width:925px) {
    #intro {
        padding-top: 13em;
    }
}
@media screen and (max-width:855px) {
    #makerlab-text h1 {
        font-size: 4em;
    }
}
@media screen and (max-width:680px) {
    #intro {
        padding-top: 7em;
    }
}
@media screen and (max-width:640px) {
    #makerlab-text h1 {
        font-size: 3.5em;
    }
}
@media screen and (max-width:500px) {
    #makerlab-text h1 {
        font-size: 3em;
        border: 10px solid white;
    }
}
@media screen and (max-width:440px) {
    #makerlab-text h1 {
        border: 6px solid white;
        padding: 0em .2em 0em .2em;
        font-size: 3em;
    }
}
@media screen and (max-width:428px) {
    #makerlab-text h1 {
        padding: .2em;
        font-size: 2.5em;
    }
    #makerlab-text {
        margin-bottom: 2em;
    }
}

.features section .icon {
    left: 2em;
    top: 2em;
}

/* footer */
footer {
    align-items: center;
    padding: 2em;
    background-color: $blue;
}
footer .icon {
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    background: white;
    border-radius: 100%;
    color: $blue;
    text-align: center;
    line-height: 2.5em;
    margin: 1em .35em 1em .35em;
}
footer .icon:hover {
    color: white;
    background-color: $blue;
}
footer a {border-bottom: none;}
.contact-text {
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: .8em;
    color: $white-75;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 1.75;
}

/* sections */
.features {
    border: none;
    background: none;
}
.features section {
    padding: 1em 1em 1em 6em;
}
.teal {
    background-color: $teal;
}
#projects {
    background-color: $bright-purple;
}
.featured-projects {
    background-color: $teal;
}
#main {
    background-color: $makerlab-green;
    overflow:hidden;
}
@media screen and (max-width:1329px) {
    #main {
        padding-top: 10em;
    }
}
@media screen and (max-width:680px) {
    #main {
        padding-top: 5em;
    }
}

/* wrapper */
.wrapper {
    position: relative;
}
.wrapper > section {
    padding: 5em 5em 3em 5em ;
    max-width: 100%;
}
.wrapper > #activities,#tools {
    padding: 3em 5em 2em 5em;
}
.indented-title {
    padding: 3em 3em 2em 5em;
}
@media screen and (max-width:680px) {
    .wrapper > section, .indented-title {
        padding: 2em 3em 2em 3.5em;
    }
}
@media screen and (max-width:400px) {
    .wrapper > section, .indented-title {
        padding: 2em 2em 1em 2em;
    }
}

/* clubs */
.SOFIYAS-BOX {
    padding-top: .5em;
    padding-bottom: 1em;
}
.SOFIYAS-BOX h2 {
    letter-spacing: .1em;
}

/* misc */
.paragraph-image {
    width: 75%;
    height: auto;
}
ul {
    margin: 0;
}
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    height: auto;
    line-height: inherit;
    padding: 0.7em 1.5em;
    margin: .4em;
    letter-spacing: .2em;
    font-size: .6em;
}
.spotlights > section {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 4px $purple;
}
.spotlights > section:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.05);
}

.inline-button-link {
    display: inline;
}

.blue {
    background-color: $blue;
}

.tag {
    padding: .5em .6em .5em .6em;
    margin-left: 1em;
    font-size: .4em;
    background-color: $makerlab-green;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: super;
}

.SOFIYAS-BOX .pure-img {
    padding: 1em 3em 2em 2em;
}
