<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:400,900" rel="stylesheet">
</head>
<body>
    {% include nav.html %}
    {{ content }}
    {% include footer.html %}

    <script src="/assets/js/jquery.min.js"></script>
    <script>
        function navigation() {
            var x = document.getElementById("navigation");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>
</html>
