$base-font-family: "Chivo", Arial, Helvetica, sans-serif;
$secondary-font-family: Arial, Helvetica, sans-serif;

// colors
$link-text: rgba(255, 255, 255, 0.45);
$grey: rgba(2, 128, 144, 1);
$nav: rgba(110, 204, 175, .2);
$makerlab-green: rgba(110, 204, 175, .2);
